<% unless form_object.errors.any? %>
  <div class="p-4 rounded border-2 border-sunbury-dark text-sunbury-dark">
    <div class="font-bold">
      Thank you for submitting the form. We will get in touch shortly!
    </div>
  </div>
<% end %>
