<ul>
  <li>
  <%= link_to 'Manage Products', admin_products_path, class: 'manage' %>
  </li>
  <li>
  <%= link_to 'Manage Product Categories', admin_product_categories_path, class: 'manage' %>
  </li>
  <li>
  <%= link_to 'Manage Workers', admin_workers_path, class: 'manage' %>
  </li>
  <li>
  <%= link_to 'Manage Promotions', admin_promotions_path, class: 'manage' %>
  </li>
</ul>
