<h4>Private</h4>
<p>We are delighted to see all patients. If you are paying for yourself you will be given an estimate of costs at the start of your treatment and you will be asked to make payments on each visit for the work that is completed at that visit. If you have dental insurance we can complete any relevant paper work at the end of your treatment.</p>

<h4>NHS</h4>
<p>Although we are a private practice we provide care for children on the NHS.</p>
<p>Children under the age of 18 or under the age of 19 and in full time education are usually seen on the NHS. An initial free consultation will determine whether or not we will accept them onto our NHS list. Repeated missed or failed appointments may result in the removal of their names from our NHS list</p>
