<turbo-frame id="tf_content">
  <h4 class="txt-heading">Emergencies</h4>
  <p>If you are in pain or have some other dental emergency, please telephone 01932 783208 and every effort will be made to see you as soon as possible. We are open from early until late, Monday - Friday and Saturday 9.00am - 1.00pm. If you telephone after hours a recorded message will tell you when a dentist from this practice will be available. We provide private emergency cover on weekends and most bank holidays.</p>

  <p>NHS England provides emergency NHS helpline and can be contacted on NHS 111 service.</p>
</turbo-frame>
