<div class="grid grid-cols-3">
  <div class="m-4 col-span-2">
    <div class="p-4 border border-gray-200">
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=145%2BGreen%2BStreet%2B-%2BSunbury%2Bon%2BThames%2B-%2BMiddlesex%2B-%2BTW16%2B6QL&ie=UTF8&z=14&t=m&iwloc=near&output=embed"></iframe>
    </div>
    <div class="mt-2 text-right">
      <%= link_to "View Larger Map", "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=145%2BGreen%2BStreet%2B-%2BSunbury%2Bon%2BThames%2B-%2BMiddlesex%2B-%2BTW16%2B6QL&ie=UTF8&z=14&t=m&iwloc=near", target: "_blank", class: "font-bold text-sunbury-dark" %>
    </div>
  </div>
  <div class="m-4">
    <div class="direction">
      <h4>Sunbury Dental Practice</h4>
      <p>145 Green Street - Sunbury on Thames - Middlesex - TW16 6QL</p>

      <h4>Trains</h4>
      <p>
      Sunbury Station:<br />
      South West Trains at Sunbury Cross, a 10 minute walk from the Sunbury Dental Practice. Trains run from Shepperton via Kingston to Waterloo.
      </p>

      <h4>Buses</h4>
      <p>To Green Street:</p>
      <p class="font-bold">TRANSPORT FOR LONDON</p>
      <p class="relative bg-sunbury-lighter p-4 pl-10 ml-4 rounded">
      <span class="absolute top-6 -left-8 rounded-full py-4 px-3 bg-sunbury font-bold text-white border border-white border-[4px]">216</span>
      Staines Bus Station<br />
      Sunbury<br />
      Kingston
      </p>
      <p class="relative bg-sunbury-lighter p-4 pl-10 ml-4 rounded">
      <span class="absolute top-6 -left-8 rounded-full py-4 px-3 bg-sunbury font-bold text-white border border-white border-[4px]">235</span>
      Brentford County Court<br />
      Hounslow<br />
      Sunbury
      </p>
      <p class="font-bold">SURREY COUNTY COUNCIL</p>
      <p class="relative bg-sunbury-lighter p-4 pl-10 ml-4 rounded">
      <span class="absolute top-6 -left-8 rounded-full py-4 px-3 bg-sunbury font-bold text-white border border-white border-[4px]">555</span>
      Heathrow<br />
      Sunbury<br />
      Walton<br />
      Hersham
      </p>
      <p class="relative bg-sunbury-lighter p-4 pl-10 ml-4 rounded">
      <span class="absolute top-6 -left-8 rounded-full py-4 px-3 bg-sunbury font-bold text-white border border-white border-[4px]">557</span>
      Hatton Cross<br />
      Ashford<br />
      Sunbury<br />
      Shepperton<br />
      Chertsey<br />
      St Peters Hospital<br />
      Woking
      </p>
      <p class="relative bg-sunbury-lighter p-4 pl-10 ml-4 rounded">
      <span class="absolute top-6 -left-8 rounded-full py-4 px-3 bg-sunbury font-bold text-white border border-white border-[4px]">656</span>
      Egham<br />
      Shepperton<br />
      Sunbury
      </p>
    </div>
  </div>
</div>
