<h4>Medical History</h4>
<p>When you come for a check-up you may be asked to fill out a new medical history form or update your existing medical history form.</p>

<p class="underline">It is important that you tell us of any illnesses, medical conditions, any changes in your health and any and all tablets or medicines that you are taking, whether prescribed by your doctor or purchased over the counter by yourself such as daily Aspirin or herbal medications.</p>

<p>All information is treated in confidence and cannot be released to another, non medical person, without your consent</p>
