<turbo-frame id="tf_content">
  <h4>Brushing</h4>
  <p>Brushing helps prevent tooth decay and gum infection.</p>

  <p>Dental plaque is a soft, sticky substance that builds up on your teeth. It is mostly made up of bacteria, which feed on sugar from food and drink, producing acids as a waste product. The acids attack the teeth by dissolving the minerals in the tooth surface. Decay of the tooth and gum infection of the area around the tooth will occur if this acid attack is allowed to go on for too long. For this reason you shouldn't have sugary foods and/or drinks too often during the day.</p>
  <p>Minerals in the saliva can mend the teeth. If fluoride is present in the mouth, it helps teeth to repair themselves. Fluoride also makes bacteria less able to produce acid.</p>
  <p>By brushing twice a day with fluoride toothpaste your aim is to efficiently remove this plaque. Fluoride in the toothpaste also makes bacteria less able to produce this harmful acid.</p>
  <p>If plaque is allowed to build up around the neck of your teeth it can make your gums sore and infected. Gum 'pockets' will start to form around the teeth and the bone supporting the teeth will slowly be destroyed. If left unchecked gum disease will lead to tooth loss.</p>
  <ul>
    <li>Brush your teeth thoroughly twice a day with a soft to medium tooth brush and a fluoride tooth paste. Replace the brush when the bristles begin get of shape.</li>
    <li>Put the bristles at the join between teeth and gums, pointing towards the gum and brush using short circular movements.</li>
    <li>Brush all round every tooth, carefully making sure you can feel the brush on your gums.</li>
    <li>Don't use too much force; give your teeth and gums a gentle scrub. Thorough brushing takes 2-3 minutes. Try timing yourself to see how long this is.</li>
    <li>After brushing you should spit out the tooth paste but do not rinse, as this lessens the effect of the fluoride.</li>
    <li>Small children should only use a small, pea-sized amount of tooth paste. They cannot brush properly until they are at least six or seven, so an adult should help them brush their teeth. One way is to stand behind the child and tilt the head back so all the teeth can be seen and reached.</li>
    <li>Re-chargeable electric toothbrushes achieve the best results and are particularly good for the young and elderly.</li>
  </ul>
  <p>Our hygienists will spend 30 minutes cleaning your teeth and gums and show you how to get the best results from your brushing as well as how to use floss and other cleaning aids.</p>
  <p>We offer shorter 15 minute appointments to children for a fee of £25.00</p>
</turbo-frame>
