<turbo-frame id="tf_content">
<h4>Extractions</h4>
<p>Make sure you advise your dentist of any changes in your medical history, any medicines you are taking and any recent visits to your doctor before your treatment.</p>
<h4>Before Treatment</h4>
<p>If you are at all nervous or anxious please bring a responsible adult with you, who is able to escort you home. If this is not possible you will be asked to wait at the practice for a further 30 minutes after your treatment to make sure you have fully recovered.</p>
<ul>
  <li>Have a light, non-fatty meal, 2-3 hours before your treatment.</li>
  <li>Take routine medicines at the usual time - unless otherwise advised.</li>
  <li>Do not drink any alcohol or take any recreational drugs.</li>
  <li>Please make sure you have some painkillers available for post operative relief.</li>
</ul>
<h4>After Treatment</h4>
<ul>
  <li>Mouth Care - Do not rinse your mouth for the rest of the day. Tomorrow, start rinsing your mouth with warm salt water; dissolve one teaspoon of salt in half a tumbler of water - as hot as a cup of tea or coffee - do this as often as necessary throughout the day, especially after eating and last thing at night for 3 to 4 days.</li>
  <li>Rest - Avoid excessive exercise on the day of the extraction. The more you rest the quicker your body will start to repair any damage.</li>
  <li>Eating & Drinking Today - You may eat and drink as normally as you can. Avoid anything very hot - have everything lukewarm. Do not smoke or drink alcohol for 24 hours. Remember, your mouth will remain numb for several hours, so take care not to bite your lips, tongue or cheek.</li>
  <li>Pain - As soon as you get home use a painkiller you would normally take for a headache e.g. Paracetamol, Nurofen (if you can take it) etc. according to the instructions on the bottle (do not take Disprin or Aspirin). Do not apply heat to the outside of the face - apply something cold such as frozen pack of peas wrapped in a tea towel . There may be some pain for the next few days but this should get less each day. If, at any stage, the pain increases or fails to get better contact the surgery - an additional dressing or rinse in the surgery may be necessary.</li>
  <li>Bleeding - There may be some discolouration of your saliva from dissolved blood from the blood clot on the first day. Should bleeding commence, place a rolled up, clean cotton handkerchief over the bleeding and bite firmly on it for 20 minutes. The pressure will stop the bleeding.</li>
</ul>
</turbo-frame>
