<turbo-frame id="tf_content">
  <h4>Sensitivity</h4>
  <p>Teeth can become sensitive to hot and cold drinks and food, as well as breathing in cold air, for a number of reasons.</p>
  <ul>
    <li>Gum recession</li>
    <li>Leaking or lost fillings</li>
    <li>Chipped or cracked teeth</li>
    <li>A dying tooth</li>
  </ul>

  <p>Your dentist can diagnose the cause of your sensitivity and advise the most suitable treatment.</p>
  <p>The most common cause of sensitivity is gum recession, when the gums around the neck of the teeth either lift away slightly or shrink back (gum recession), exposing the neck of the tooth and the root surface.</p>
  <p>Gum recession is due to the gums becoming inflamed and irritated (gingivitis) due to the build up of food debris and bacteria over a period of time or as a result of excessively rough brushing. If left untreated for too long the bone around the teeth, as well as the gums, can also shrink back (periodontitis) and the teeth lose their bony support.</p>
  <p>Thorough brushing and flossing of the teeth, at least twice a day, along with the use of specialist inter dental cleaning aids is necessary to maintain healthy gums and prevent further gum recession and bone loss.</p>
  <p>Regular visits to the dentist and hygienist will ensure that problem areas can be identified and dealt with at an early stage as well as advising on the best cleaning procedures for each individual mouth.</p>
  <p>Your dentist can apply a number of different varnishes around the neck of sensitive teeth, as well as the root surfaces, that soak into the surfaces and build up a protective barrier that reduces sensitivity.</p>
  <p>The use of specialist toothpastes such as Sensodyne (Sensodyne Rapid Relief) and Colgate (Colgate Sensitive Pro-Relief) can also reduce sensitivity. These toothpastes need to be used on a regular basis to ensure that sensitivity does not return.</p>
  <p>The best way to use these toothpastes to ensure maximum benefit is</p>
  <ul>
    <li>Brush with your normal toothpaste first. Use slightly warm or tepid water if you find this easier.</li>
    <li>Rinse your mouth and clean toothbrush</li>
    <li>Flick excess water off your toothbrush</li>
    <li>Apply a pea size amount of desensitising toothpaste to your toothbrush</li>
    <li>Brush desensitising toothpaste onto sensitive area.</li>
    <li>Spit out excess toothpaste but do not rinse or drink for half an hour (just before going to bed is often a good time)</li>
  </ul>
  <p>It can take a day or two for the full effects of these toothpastes to begin to show and they may need to be maintained on a regular basis.</p>
  <p>Your dentist may still need to occasionally apply desensitising varnishes to particular areas</p>
</turbo-frame>
