<h4>
  Cosmetic Treatment
</h4>

<p>Any procedure that improves the appearance of the teeth and mouth may be considered as cosmetic. This may range from a simple smoothing or adjusting the edge of a tooth to give a more even appearance to replacing missing or damaged teeth with crowns bridges or implants. With the wide range of new materials and techniques available we can now offer many more treatment choices than were available even a few years ago. We have listed some, but not all of the different treatments that are cosmetic or have a cosmetic element. If there is anything that concerns you please ask your dentist, we are only too happy to explain what can be done.</p>
