<h4>Extraction</h4>


<p>In some cases sadly a tooth may have to be extracted. The majority of teeth can be painlessly extracted at the surgery. Sometimes we do have to refer to the hospital for an extraction if there is an underlying medical problem or for a particularly complex procedure. We have a visiting oral surgeon who will asses every situation and is able to perform most surgical procedures..</p>
