<h4>
  Fillings
</h4>

<p>These are needed to replace any lost tooth structure caused by decay, accidental damage or wear and tear. Generally these are silver fillings in back teeth and tooth coloured (white) fillings in front teeth. Please see our cosmetic section for further information on white fillings.</p>
