<h4>Gum Treatment</h4>

<p>Teeth are anchored in bone with the gums providing a protective soft tissue cover over this bone.  If the gums are not kept clean they become infected.  Over time this gum infection will result in the bone support of the teeth shrinking back and eventually the teeth become loose and may need to be extracted.</p>

<p>The hygienist will clean your teeth and show you how to keep your teeth and gums healthy to prevent gum infection and bone loss.</p>

<p>The periodontist deals with diseased gums where there has been bone loss and there are particular problems which will result in further bone loss unless action to correct this is taken.</p>
