<h4>
  Orthodontics
</h4>

<p>Many people, adults as well as children, can improve their appearance by having their teeth straightened. Placing fixed bands on the teeth is still the most common, but there are a number of alternative methods that do not involve metal bands, please ask your dentist about this. We work closely with a local orthodontic practice to which we refer, unless patients have a particular preference for another orthodontic practice.</p>

<p>We are very pleased to be able to offer our patients Invisalign orthodontic treatment. For further details please see the Invisalign topic in our Cosmetic Treatment section.</p>
