<h4>
  Preventative Treatment
</h4>

<p>Preventative Treatment Regular examinations and x-rays, when necessary, are the best way of identifying problem areas at an early stage, especially with children, so that we can offer advice or treatment to prevent these areas getting worse. Timely advice and reminders on diet and cleaning methods, such as flossing as well as the use of fluoride, from the dentist or hygienist helps you to maintain healthy teeth and gums.</p>

<p>When a problem is diagnosed we can discuss various treatment choices with you so that you are able to make an informed decision about the best course of action. Early diagnosis will often give you more treatment options.</p>
