<h4>What We Do</h4>
<p>We constantly strive to bring you the best quality treatment and care, from our carefully thought out reception area, our modern state-of-the-art surgeries and the high quality of materials and laboratories that we chose to provide for you. All members of our team are actively attending courses, both clinical & administrative and as a team we are very proactive in making sure that your experience is a good one.</p>

<p>We are here to help and re-assure you and to answer any questions you may have regarding your dental care, including facial aesthetics and cosmetic treatment.</p>

<p>We are fully compliant with Department of Health (DoH) regulation HTM01-05 and registered with government's Care Quality Commission (CQC) ensuring the highest standards of cross infection control and the use of disposable items wherever possible.</p>
