<h4>
  White Fillings
</h4>

<p>
Amalgam free fillings are becoming more and more popular for health as well as cosmetic reasons. Old, unsightly amalgam fillings can be replaced by composite white fillings. Because composite fillings are tooth coloured, they can be closely matched to the colour of existing teeth. They are very durable, and will last many years, but as with all fillings, they will eventually need to be replaced.
</p>
