<turbo-frame id="tf_content">
  <h4>
    Dentures
  </h4>

  <p>Dentures are removable appliances designed to replace missing teeth. Replacing missing teeth is important for your general health and the health of your other teeth. Not only do you lose chewing capacity when a tooth is lost, but un-replaced teeth can allow other teeth to tilt or over erupt and create subsequent problems. There are also the obvious problems of poor appearance caused by one or more missing teeth. There are many different types and designs of dentures that are custom made for each individual. They can all help to improve the way you look, bite, chew and speak. We can discuss the different design options and choose the right one for you. We work very closely with our highly skilled and experienced dental technicians to give you the best outcomes.</p>
</turbo-frame>
