<turbo-frame id="tf_content">
  <h4>
    Examination
  </h4>

  <p>Teeth can often appear fine on the surface even when they're decaying underneath or have extensive loss of bone support. By the time you realise there's a problem, there may be only one course of action left, instead of the many options you might have had if you'd only caught the problem sooner. That's why we like to encourage regular check-ups and x-ray screening.</p>

  <p>Your dentist will conduct a thorough examination of the teeth and gums to detect any tooth decay or gum disease of which you may not be aware, and will also check to exclude the possibility of any oral cancers. Early detection leads to much simpler and more successful treatment. Always let your dentist know if you have any particular worries about the health or appearance of your teeth and gums.</p>
</turbo-frame>
