<turbo-frame id="tf_content">
  <h4>
    Gold Fillings
  </h4>

  <p>These also tend to be used only in back teeth. Gold fillings are custom made to fit each cavity by highly skilled technicians in the laboratory. They are exceptionally durable and dental gold is very pure and so is very good for general health and teeth. Two appointments are required for placement of gold restorations.</p>
</turbo-frame>
