<turbo-frame id="tf_content">
  <h4>Hygiene</h4>

  <p>Regular dental hygiene and professional cleaning of the teeth by a Hygienist is very important for healthy teeth and gums. Prevention is better than cure! Your hygienist will clean away the soft and hard plaque that builds up on the surfaces of teeth, often in spite of regular brushing, and will show you the most effective way to keep all the areas of your mouth clean. Plaque build up can lead to serious gum disease and is the main cause of tooth loss. Healthier mouths have fewer problems which will lead to less treatment. Our Hygienists can also help with patients that suffer from or are concerned about bad breath.</p>
</turbo-frame>
