<turbo-frame id="tf_content">
  <h4>
    Implants
  </h4>

  <p>Replacing missing teeth is important for your general health and the health of your other teeth. Not only do you lose chewing capacity when a tooth is lost, but un-replaced teeth can cause other teeth to be lost, tipped or crowded and create subsequent problems. There are also the obvious problems of poor appearance caused by one or more missing teeth.</p>

  <p>Dental implants are substitutes for the roots of missing teeth. They act as anchors for replacement crowns or a set of replacement teeth. Patients of all ages may benefit from implant techniques to replace missing teeth due to injury, disease, or decay. They are especially practical for patients who can no longer tolerate removable dentures. We can determine if you are a candidate for dental implants after a careful evaluation of your dental and medical history.</p>
</turbo-frame>
