<turbo-frame id="tf_content">
  <h4>
    Invisalign
  </h4>

  <p>Invisalign can help to treat a variety of orthodontic concerns, including teeth which are crooked, crowded or with gaps – but because it is clear, removable and comfortable, it won't interfere with your life.</p>
  <p>Your treatment is nearly invisible; almost no-one can tell you are wearing Invisalign. You can smile more during as well as after your treatment and because you can remove Invisalign you can eat and drink what you like. Studies have shown that it can be better for your dental hygiene during treatment as well.</p>
  <p>So far over one million patients, worldwide, have more reason to smile – thanks to Invisalign.</p>
</turbo-frame>
