<turbo-frame id="tf_content">
  <h4>
    Other Treatment
  </h4>

  <p>There are many treatments undertaken by dentists in general practice as well as specialists. We have listed here the most common. If you would like to discuss a particular treatment please let your dentist know. We are only too happy to explain any of the treatment choices available here or, if necessary, where we can refer for more detailed specialist advice.</p>
</turbo-frame>
