<turbo-frame id="tf_content">
  <h4>Periodontal</h4>

  <p>Surface inflammation of the gums is known as gingivitis and appears as red swollen and bleeding gums. If left untreated the bone around the tooth begins to shrink back and the tooth loses support; this is known as periodontitis. Gum shrinkage and bone loss is usually slow and will occur over a number of years. Any such loss is permanent. With the correct treatment and advice further loss can be prevented and the teeth saved</p>

  <p>If you suffer from this we will advise you to see our gum specialist (periodontist). Your first appointment will be an initial consultation. The periodontist will carry out a detailed examination of the mouth and gums to assess the extent and severity of the gum disease. This is carried out by measuring bone loss and the space between the tooth and gum, which develops as the periodontal disease progresses. She will give you an explanation of the problems you may have and will discuss your prognosis and treatment required. She will help you to understand the process of gum disease and assess where your greatest problem areas may be. By working closely with you she will help to reduce the risk of your gum disease progressing and make sure it is less likely that you will lose teeth.</p>
</turbo-frame>
