<turbo-frame id="tf_content">
  <h4>Root Treatment</h4>


  <p>When the nerve of a tooth becomes irreversibly affected by decay, trauma or irritation root canal treatment is the only way that the tooth can be saved. The procedure involves removing the pulp, bacteria, and any decay, then filling the resulting space with special medicated dental materials. A tooth that has undergone root canal treatment is brittle and a crown must be fitted within a short time to give the tooth sufficient strength.</p>
</turbo-frame>
