<turbo-frame id="tf_content">
  <h4>Tooth Whitening</h4>

  <p>Tooth whitening or bleaching is a simple, non-invasive dental treatment used to dramatically change the colour of natural tooth enamel. It is an ideal way to enhance the beauty of your smile. Teeth whitening material widely sold over the counter is by necessity of very low concentration and so of low effectiveness.</p>

  <p>The best results are achieved by professionally applied teeth whitening systems by your dentist. The treatment is initiated in the dental practice and continued by the patient at home over a 3-4 week period. Tooth whitening is not permanent. A touch-up, which you can do at home and will usually only take a few days, maybe needed every few years (more often if you smoke, drink a lot of coffee, tea, or wine etc)</p>
</turbo-frame>
