<turbo-frame id="tf_content">
  <h4>
    Treatment Planning
  </h4>

  <p>Planning your dental treatment is extremely important. With results of any special investigations (such as x-rays and diet analysis) your dentist is then able to advise you on the best course of treatment for your mouth. Often there are a number of different options and these can be discussed in detail along with the cost and time involved, so that you can decide what is best for you.</p>
</turbo-frame>
