<turbo-frame id="tf_content">
  <h4>
    Veneers
  </h4>
  <p>Veneers are very thin laminates of porcelain or composite filling material designed to cover the front surfaces of teeth and are bonded to the teeth. Veneers can completely reshape your teeth to give you a beautiful smile. They are very durable and will last many years but will eventually need to be replaced. Veneers are used to cover up crooked, chipped or severely discoloured teeth, to create a uniform, white bright smile.</p>

  <p>To fit veneers, the teeth are first prepared by lightly buffing and shaping the surface to allow for the thickness of the veneer. A mould or impression of the teeth is taken and a shade is chosen. The veneers are then manufactured by our highly skilled, experienced technicians in the dental laboratory and on a second visit are bonded onto the recipient teeth. Composite veneers may be done in a single visit as they usually do not require the skills of a laboratory technician.</p>
</turbo-frame>
