<turbo-frame id="tf_content">
  <h4>
    X-Rays
  </h4>

  <p>X-rays, also known as radiographs, allow the dentist to see inside the tooth and roots and underneath fillings. They show up any decaying teeth and bone loss as a result of gum disease. All x-rays use radiation, a dental x-ray uses very small amounts of radiation (about as much radiation as you would get on an aeroplane flight to Spain). X-rays are only recommended when they are needed and our machines are checked annually to ensure they are accurate.</p>
</turbo-frame>
