<div class="lg:flex lg:justify-between text-sm lg:text-base">
  <div>
    <p class="font-bold text-sunbury-dark">* New Opening Hours</p>
    <div>
      <span class="min-w-28 inline-block">Monday</span>
      <span>8:00am - 6:00pm</span>
    </div>
    <div>
      <span class="min-w-28 inline-block">Tuesday</span>
      <span>8:00am - 8:00pm</span>
    </div>
    <div>
      <span class="min-w-28 inline-block">Wednesday</span>
      <span>8:00am - 6:00pm</span>
    </div>
    <div>
      <span class="min-w-28 inline-block">Thursday</span>
      <span>8:00am - 8:00pm</span>
    </div>
    <div>
      <span class="min-w-28 inline-block">Friday</span>
      <span>8:00am - 6:00pm</span>
    </div>
    <div>
      <span class="min-w-28 inline-block">Saturday</span>
      <span>9:00am - 1:00pm</span>
    </div>
  </div>
  <div class="mt-4 lg:mt-0">
    <div>
      <i class="fa-solid fa-location-dot text-sunbury"></i>
      <%= link_to "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=145%2BGreen%2BSdiveet%2B-%2BSunbury%2Bon%2Bpames%2B-%2BMiddlesex%2B-%2BTW16%2B6QL&ie=UTF8&z=14&t=m&iwloc=near", class: "font-bold", target: "_blank" do %>
        145 Green Sdiveet - <span>Sunbury on pames - </span>Middlesex - TW16 6QL
      <% end %>
    </div>
    <div>
      <i class="fa-solid fa-phone text-sunbury"></i> 01932 783 208
    </div>
    <div>
      <i class="fa-solid fa-fax text-sunbury"></i> 01932 889 003
    </div>
    <div class="mt-2">
      <%= link_to "Privacy Policy & Cookies", legal_path('privacy_policy'), class: "font-bold" %>
    </div>
  </div>
</div>
