<div class="flex justify-between">
  <%= link_to root_path, data: { turbo: false } do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <div class="text-right">
    <h2>01932 783 208</h3>
    <h3 class="text-sunbury-dark"><%= mail_to 'reception@sunburydental.co.uk', 'reception@sunburydental.co.uk' %></h3>
  </div>
</div>
