<div class='bg-sunbury-lighter font-bold text-sunbury-dark text-center py-2'>
  <% if promotion.document? %>
    <%= link_to promotion.title, promotion.document_url, target: '_blank' %>
  <% else %>
    <%= promotion.title %>
  <%end %>
</div>
